/* NASA api */


#window-8 {
    
    width: min-content;
    height:min-content;

}
  
#window-8 .window-body {    

    padding: 1rem;

    background: #d0d0d0; 

    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;



    
}

#window-8 .toolbar{
    display:none;
}


#window-8 .date-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

#window-8 .date-picker label {
    font-size: 1rem;
    color: #000;
    font-family: 'W95FA', sans-serif;
}

#window-8 .date-picker input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.125rem solid #808080;
    border-top-color: #eaeaea;
    border-left-color: #eaeaea;
    background-color: #fff;
    box-sizing: border-box;
    width: auto;
}


#window-8 #warning {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 0, 0);
    margin: 1rem 0;
    text-align: center;
}

#window-8 #dataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}


#window-8 #imageDescription {
    margin-top: .5rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    padding: .5rem;
    max-width: 100%; 
    box-sizing: border-box;
}



#window-8 #date-picker {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 0.5rem; 

}

#window-8 #getButton {
    color: black;
    padding: .5rem;
}



#window-8 #nasaImage {



}
#window-8 #nasaVideo {



}

@media ( max-width:1000px) {

    #window-8 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        resize: none;
    
        width: 100%;
        height: 100%; 
    }
    
    #window-8 #nasaImage {
        max-width: 100%;
        height:auto;


    }
    #window-8 #nasaVideo {
        max-width: 100%;
        height:auto;
    
    }

  }