/* timer stopwatch */
#window-11 {

    height: min-content;
    width: min-content;

}

#window-11 .window-body {
    background-color: #d0d0d0;
    border: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow:visible;
}

#window-11 .toolbar {
    display: none;
}

#window-11 {
    
}

#window-11 #stopwatch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#window-11 #timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#window-11 #stopwatch-display {
    font-size: 1.5rem;

    margin: 0.5rem 0;
    color: #000;
    width: fit-content;
}

#window-11 #timer-display {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #000;
    width: fit-content;
}

#window-11 .button-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#window-11 .window-body button {

    width: 4rem;
    padding: 0.5rem;
    font-size: 1rem;
}

#window-11 #timer-container input {
    width: 6rem;
    margin: 0.5rem;
    padding: 0.25rem;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
}

@media ( max-width: 750px ) {

    #window-11 {
      position: absolute;
  
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      resize: none;
  
      width: 100%;
      height: 100%; 
    }

}