#CartSection {
    text-align: center;
}

#CartSection input[type="number"] {
    width: 4rem;
    min-width: 3rem;
    text-align: center;
    font-size: 0.85rem;
}

@media (max-width: 800px) {
    #CartSection input[type="number"] {
        width: 2rem;
        font-size: 0.75rem;
    }

    #CartTable th:nth-child(3),
    #CartTable td:nth-child(3) {
        display: none;
    }
}
