#Home {
  border-radius: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

#Home article {
  padding: 1rem;
}


#Home p {
  margin: 1rem 0;
}

#Home ul {
  list-style-type: none;
  padding: 0;
  margin:0;
}

#Home li {
  margin: 1rem;
  background-color: var(--card);
  padding: 1rem;
  border-left: 5px solid var(--accent);
  border-radius: 0.5rem;
}


#faq2 {
  position: relative;
  overflow: hidden;
}

#faq2 .faq-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3; /* adjust this for fade */

}

#faq3 {
  
}