
.icon {

    display: flex;
    flex-direction: column;
    align-items: center;
  
    text-align: center;
    box-sizing: border-box;
    position: relative; 
    overflow: visible; 
  }
  

  .icon img {
    max-width: 6rem;
    cursor: pointer;
  }
  

  .icon h2 {
    font-size: 1.25rem;
    color: white;
  
    font-weight: lighter;
    overflow: hidden;
    width: 10rem;
  }
  
  .window-body .icon h2 {
    color: black;
  }
  




@media ( max-width: 750px ) {

    .icon {

    }

    .icon img {
      max-width: auto;
      height: auto;
    }

    .icon h2 {
      font-size: auto;
      height: auto;
      width: auto;
    }

    .icon p {
      display: none;
    }

}