.window {

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  padding: .125rem;

  flex-direction: column;

  background-color: #d0d0d0;
  border: .25rem solid #808080;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  z-index: 1;
  resize: both;
  overflow:hidden; /* this and the parent div need to have overflow set to visible so that tool tips can break out of their containers and take up 0 space when not seen */

  max-width: 100%;
  max-height: 100%;

}

.window-body {

  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  font-size: 1rem;

  overflow:scroll; /* this and the parent div need to have overflow set to visible so that tool tips can break out of their containers and take up 0 space when not seen */

  background-color: #ffffff;
  border: .25rem solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #eaeaea;
  border-bottom-color: #eaeaea;

}

.window.maximized {
  top: 50%;
  left: 50%;
  box-sizing: border-box;
}

.window.maximized .window-body {
  height: 100%;
  width: 100%;
}


.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000080;
  color: white;
  padding: .25rem;
  box-sizing: border-box;
}

.title-bar img {
  width: auto;
  height: 2rem;
  padding-left: .125em;
}


.title-text {
  flex-grow: 1;
  font-size: 1.75rem;
  text-align: left;
  padding-right: 0.5rem;
  padding-left: 0.5rem;


  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.minimize-button {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1.5rem;
  padding-bottom: .25rem;
}

.maximize-button {
  width: 1.75rem;
  height: 1.75rem;
  font-weight: bolder;
  font-size: 1.125rem;
  padding-bottom: .125rem;
}

.close-button {
  width: 1.75rem;
  height: 1.75rem;
  font-weight: bolder;
  font-size: 1rem;
}

.title-bar-controls button:active {
  background-color: #d0d0d0;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #eaeaea;
  border-bottom-color: #eaeaea;
}

.toolbar {
  display: flex;
  background-color: #d0d0d0;
  padding: .2rem;
  box-sizing: border-box;
}

.toolbar button {
  background-color: #d0d0d0;
  border: none;
  padding-left: .5em;
  padding-right: .5em;
  font-size: 1.25rem;
  cursor: pointer;
  color: black;
}

.toolbar button:hover {
  background-color: #0b26b2;
  color: white;
}

.window.maximized {
  position: fixed;
  width: 100vw;
  height: calc( 100vh - 4.5rem );
  top: 0;
  left: 0;
  transform: none;
  z-index: 1000;
  box-sizing: border-box;
}

@media ( max-width: 750px ) {

  .window {
      position: fixed;
      height: 100%;
      width: 100%; 
      margin: 0;
      z-index: 1000; 
      overflow: hidden; 
  }

  .window .window-body {
      height: 100%; 
      overflow-y: auto; 
  }

  .title-bar {
    height: 3rem;
    padding: 0.1rem 0.25rem;
    display: flex;
    align-items: center;
  }

  .title-text {
    font-size: 1.75rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .title-bar img {
    height: 2rem;
    width: auto;
    margin-right: 0.25rem;
  }

  .title-bar-controls button {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    margin: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #MinimizeButton {
    display: none;
  }
  #MaximizeButton {
    display:none;
  }



}

