
#cartContainer{
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(194, 188, 161);
    margin-top: 0;

    background-color: #c0c0c0;

}

#print{
    background-color: purple ;
    margin:1rem;
}
#print:hover{
    background-color: rgb(177, 46, 177);
}


@media screen and (max-width: 1000px) {
    #cartContainer { }
    #print { }
    #print:hover { }
    
}
