.new-item-form {
    background-color: rgb(227, 227, 227);
    display: block;
    flex-direction: column;
    gap: 15px;
    
}

.new-item-form h3 {
    margin: 0;
    text-align: center; 
    font-size: 1.5rem;
}

.new-item-form table {
    width: 100%;
    border-collapse: collapse;
}

.new-item-form th, .new-item-form td {
    padding: 12px 15px;
    text-align:center;
    border: 1px solid #ddd;
}

.new-item-form th {
    background-color: #f4f4f9;
}

.new-item-form .description {
    width: 45%;
}

.new-item-form .part-number {
    width: 20%; 
}

.new-item-form .qoh {
    width: 16%; 
}

.new-item-form .category {
    width: 29%; 
}
.new-item-form .actions {
    width: 5%;
}

.new-item-form input{ 
    width: 100%; 
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.new-item-form select { 
    width: 100%; 
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.new-item-form button {

    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;

}

.new-item-form button:hover {
    background-color: rgb(25, 132, 255);
}
@media screen and (max-width: 1000px) {
    .new-item-form { }
    .new-item-form h3 { }
    .new-item-form table { }
    .new-item-form th, .new-item-form td { }
    .new-item-form th { }
    .new-item-form .description { }
    .new-item-form .part-number { }
    .new-item-form .qoh { }
    .new-item-form .category { }
    .new-item-form .actions { }
    .new-item-form input { }
    .new-item-form select { }
    .new-item-form button { }
    .new-item-form button:hover { }
}
