
td {
    padding: 12px 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}





button {
    padding: .5rem;
    margin-right: .5rem;
    border: none;
    color: white;

    cursor: pointer;
}

button:hover{
    background-color: rgb(25, 132, 255);
}







#edit {
    background-color: #b79c00;
}
#edit:hover {
    background-color: #e9af00;
}
#add-to-cart {
    background-color: #007d1d;
}
#add-to-cart:hover {
    background-color: #00c72b;
}
#delete-item {
    background-color: #b20000;
}
#delete-item:hover {
    background-color: #ff0019;
}
#save-item {
    background-color: #1645d1;

}
#save-item:hover {
    background-color: #4376f6;
}


.description-input {
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    box-sizing: border-box;

    padding-top: 1rem;
    padding-bottom:1rem;
    padding-left:0;
    padding-right:0;
}

.part-number-input {
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-left:0;
    padding-right:0;
}

.qoh-input {
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-left:.25rem;
    padding-right:0;
}

@media screen and (max-width: 1000px) {
    td { padding:0; margin:0;font-size: 1.25rem; }
    button { font-size: 1.25rem; padding:.5rem; margin:0; height:2.5rem}
    button:hover { }
    #edit { }
    #edit:hover { }
    #add-to-cart { }
    #add-to-cart:hover { }
    #delete-item { }
    #delete-item:hover { }
    #save-item { }
    #save-item:hover { }
    .description-input {font-size: 1.25rem;  }
    .part-number-input {font-size: 1.25rem;  }
    .qoh-input {font-size: 1.25rem;  }
    .actions{

        text-align: center;
    }
    
}
