body {
    background-color: #000000;
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;  
    margin-bottom: 0;
    padding-bottom: 0;
}

main {
    padding: 1rem;
    margin: 1rem;
    margin-top: 0;
    background-color: #c0c0c0;

}

.tab {
    padding: 1rem;

    padding-left:.25rem;
    padding-right:.25rem;

    margin: .25rem;

    cursor: pointer;
    color: #000000;

    font-size: 1rem;
    font-weight: bold;

    background-color: #c0c0c0;
    border: 0.25rem solid #808080; 

    border-top-color: #eaeaea; 
    border-left-color: #eaeaea; 
    border-right-color: #808080;
    border-bottom-color: #808080;

    margin-bottom: 1rem;


}

.tab:hover {
    background-color: #3e6deb;
    color: white;
}

.tab.active {
    background-color: #c0c0c0;
    font-size:1.5rem;
    color: rgb(0, 0, 0);

    border-top-color: #808080;
    border-left-color:   #808080;
    border-right-color: #eaeaea; 
    border-bottom-color: #eaeaea;

    margin-bottom:0;
    border-bottom: none;



}

.folder {
    display: none;
}
.folder.active {
    display: block;
}




table {
    width: 100%;
    border-collapse:collapse;
    background-color: #ffffff;
    
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: rgb(176, 194, 245);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 1rem;
    text-align: left;
    border: 1px solid #a9a9a9;
    text-align: left;
    font-weight: bold;
    color: #333;
    background-color: #f2f2f2;
    text-align: center;
}
td{

    text-align: left;
    border: 1px solid #ddd;

}


th.description, td.description {
    width: 40%;
}

th.part-number, td.part-number {
    width: 20%;
}

th.qoh, td.qoh {
    width: 8%;
}

th.last-updated, td.last-updated {
    width: 9%;
}

th.actions, td.actions {
    width: 20%;
}





















.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.home-button {

    background-color: rgb(13, 71, 147);
    color: white;

    border: none;
    cursor: pointer;

}

.home-button:hover {
    background-color: rgb(25, 132, 255);
}


@media screen and (max-width: 1000px) {
    body { font-size:1.5rem }
    nav { }
    main { }
    .tab { font-size:1rem; margin: .25rem; padding:.0625rem; padding-bottom:1rem; padding-top:1rem; }
    .tab:hover { }
    .tab.active { }
    .folder { }
    .folder.active { }
    table { }
    tbody tr { }
    tbody tr:nth-child(even) { }
    tbody tr:hover { }
    th { }
    td { }
    th.description, td.description { }
    th.part-number, td.part-number { }
    th.qoh, td.qoh { }
    th.last-updated, td.last-updated { }
    th.actions, td.actions { }
    .button-container { }
    .home-button { }
    .home-button:hover { }
    .description-input { }
    .part-number-input { }
}

  