header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-body);

}

.logo-wrapper img {
  height: 3rem;
  width: auto;
  display: block;
  filter: drop-shadow(0 0 3px #fff);
  transition: filter 0.3s ease-in-out;
}


  
  /* Call icon */
  .call-wrapper {
    flex: 0 0 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .call-wrapper img {
    max-height: 3.5rem;
    width: auto;
    display: block;
  }
  
  /* Hamburger button */
  #menu-toggle {
    display: none; /* hidden by default */

  }
  .logo-wrapper {
  color: var(--text-h1); /* or var(--text-h2) or whatever fits your theme */
}

  /* === MOBILE HEADER === */
  @media (max-width: 800px) {
    header {
      padding: .125rem;
    }
  
    .logo-wrapper {
      flex: 0 0 auto;
      justify-content: flex-start;
    }
    .logo-wrapper img {
      max-height: 3rem;

    }
    .call-wrapper {
      display: none; /* hide call icon on mobile */
    }
  
    #menu-toggle {
      display: block;
      font-size: 2rem;
      background: none;
      border: none;
      cursor: pointer;
      padding:0;
      padding-right:.5rem;
    }
  }
  