nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2;
}

nav ul li {
  position: relative;
  background-color: transparent;
  margin: 0;
}

nav a {
  display: block;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-a);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: var(--text-a-hover);
}

nav li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: var(--bg-section);
  box-shadow: 0 0 1rem var(--shadow-color);
}

@media (hover: hover) {
  nav li:hover ul {
    display: block;
  }
}

nav li ul li a {
  padding: 0.75rem 1rem;
  font-weight: normal;
  color: var(--text-a);

}

nav li ul li a:hover {
  color: var(--text-a-hover);
}

@media (max-width: 800px) {
  nav ul {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    width: 100%;
  }

  nav ul.active {
    max-height: 500px;
  }

  nav ul li {
    border-bottom: 1px solid var(--border-color);
  }

  nav a {
    text-align: center;
    font-size: 1.1rem;
  }

  nav li ul {
    position: static;
    border: none;
    display: none;
    box-shadow: none;
    background: none;
  }

  nav li.show-submenu ul {
    display: flex;
    flex-direction: column;
  }

  nav li ul li a {
    padding-left: 2rem;
  }
}
