main {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  padding: 2rem;
  overflow: visible;
}

.icon {
  height: 1.75rem;
  width: 1.75rem;
  vertical-align: middle;
  object-fit: contain;
  display: inline-block;
}

article {
  background-color: var(--bg-section);
  box-shadow: 0 0 1rem var(--shadow-color);
  padding: 2rem;
  margin: 0.5rem 0;
}

main > section {
  display: none;
}

main > section.visible {
  display: block;
}

article.blink {
  animation: blink-highlight 1s ease-in-out 2;
}

@keyframes blink-highlight {
  0% {
    background-color: transparent;
    color: inherit;
  }
  50% {
    background-color: var(--color-tertiary);
    color: #fff;
  }
  100% {
    background-color: transparent;
    color: inherit;
  }
}


@media (max-width: 800px) {
  main {
    padding: 0.25rem;
  }

  article {
    padding: 0.75rem;
  }
}
