footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--bg-body);
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  flex: 1 1 125px;
}

footer h3 {
  margin-bottom: 0.5rem;
  color: var(--text-h3);
}

footer p {
  color: var(--text-p);
  margin: 0.25rem 0;
  font-weight: bold;
  text-align: center;
}

footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-a);
  text-decoration: none;
  margin: 0.25rem 0;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

footer a:hover {
  color: var(--text-a-hover);
}

footer img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  margin-bottom: 0.25rem;
  filter: drop-shadow(0 0 20px #fff);
  transition: filter 0.3s ease-in-out;
}


@media (max-width: 800px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  footer div {
    width: 100%;
    max-width: 300px;
  }

  footer h3 {
    margin: 0;
  }
}
