nav {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out,
    visibility 0.5s;
    padding:1rem;
}

nav.fade-in {
  opacity: 1;
  visibility: visible;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav li {
}

nav a {
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 750px) {
  nav {


  }

  nav ul {
    gap: 1rem;
  }

  nav li {
  }

  nav a {

  }
}
