/* === document base === */
body {
    font-family: system-ui, sans-serif;
    text-align: center;
}
  

/* === headings === */
h1 {
}

h2 {
}

h3 {
}

/* === links === */
a {
}

a:hover {
}

/* === text elements === */
p {
}
label {
}
span {
}

/* === lists === */
ul {
}
li {
}
