.sampleCard {
  width: 100%;
  max-width: 22rem;
  max-height: 35rem;
  padding: 0.5rem;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.sampleCard:hover {
  transform: translateY(-0.25rem);
}

.sampleCard .header {
  margin: 1rem 0;
}

.sampleCard .author {
  font-size: 1.25rem;
}

.sampleCard .body {
  position: relative;
  flex-grow: 1;
}

.sampleCard .body img.thumb {
  width: 100%;
  max-height: 12rem;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.sampleCard .flagOverlay {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: auto;
  max-height: 3rem;

}

.sampleCard .attributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin: 1rem 0;
  font-size: 1rem;
  text-align: center;
}

.sampleCard span {
  margin: 1rem 0;
  text-decoration: none !important;
}

@media (max-width: 800px) {
  .sampleCard {
    max-width: 100%;
    max-height: none;
  }

  .sampleCard .author {
    font-size: 1rem;
  }

  .sampleCard span {
    margin: 0.25rem 0;
    text-decoration: none;
  }

  .sampleCard .flagOverlay {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: auto;
    max-height: 3rem;

  }

  .sampleCard .flagOverlay {
    width: auto;
    max-height: 1.5rem;
    top: 0.25rem;
    right: 0.25rem;
  }

  .sampleCard .attributes {
    grid-template-columns: 1fr;
    font-size: 0.75rem;
  }
}
