body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  background-color:#e9e7df;
  color: #223322; 
}

h1 {
  font-size: 5rem;
  text-align: center;
  padding-top: 0;
  margin: 0;
  color: #3a5f3a;
}

h2 {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  color: #3a5f3a;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  color: #3a5f3a; 
}

h4 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0.5rem 0;
  color: #223322;
}

p {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: #223322;
}

a {
  font-size: 1.25rem;
  color: #3a5f3a; 
  text-decoration: underline;
}

a:hover {
  color: #5c7f5c;
  text-decoration: none;
}

label {
  font-size: 1.25rem;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.25rem;
  color: #223322;
}

ul {
  font-size: 1.25rem;
  padding-left: 1.25rem;
  margin: 0.5rem 0;
  color: #223322;
}

li {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  color: #223322;
}

@media (max-width: 800px) {
  body {
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  h1 {
    font-size: 1.55rem;
    padding-top: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: .8rem;
  }
}
