main > section {
  display: none;

  margin: 0 auto;
  overflow-x: auto;
  background-color: #e9e7df;
}



section {

  margin: 0 auto;
  overflow-x: auto;
  background-color:#e9e7df;
}

main > section.visible {
  display: block;
}

article {
  margin: 0 auto;
  border-radius: 1rem;
  border: none;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color:#e9e7df;
}

#Spray .Spray_Stainless-Steel {
  display: none;
}

#Spray-Aluminium,
#Spray-Stainless_Steel,
#Stick-Aluminium,
#Stick-Stainless_Steel,
#MIG-Stainless_Steel,
#MIG-Aluminium {
  display: none;
}

@media (max-width: 1200px) {
  main {
    padding: 0.25rem;
  }

  main section {
    padding: 0;
    width: 100%;
  }

  article {
    padding: 0rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
  }
}
