html {
  padding: 0;
  margin:0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  position: relative;
  overflow-x: hidden;
  background: var(--color-body);
  padding:0;
  margin:0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../Assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: var(--color-section);
  mix-blend-mode: overlay;

  z-index: -1;
  pointer-events: none;
  animation: dreamyMotion 30s ease-in-out infinite;
}

/* Headings */
h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-h1);
  border: none;
  width: 100%;
}

h2 {
  font-size: 2rem;
  color: var(--color-h2);
  border: none;
  display: inline-block;
  width: 100%;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-h3);
}

/* Paragraphs */
p {
  font-size: 1rem;
  text-align: left;
  line-height: 1.75;
  color: var(--color-p);
  max-width: 50rem;
  margin: 0 auto;
  padding: 0.5rem 0;
}

/* Links */
a {
  font-size: 1rem;
  color: var(--color-a);
  text-decoration: none;
  padding: 0.25rem;
}

a:hover {
  color: var(--color-a-hover);
  transition: background-color 0.2s ease, color 0.2s ease;
  text-decoration: underline;
}

/* Labels */
label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-label);
}

/* Lists */
ul {
  font-size: 1rem;
  color: var(--color-p);
  padding: 1rem;
  margin: 0 auto;
  width: 50rem;
}

li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--color-p);
  max-width: 50rem;
}

span {
  font-size: 1.5rem;
  color: var(--color-span);
}

/* Animations */
@keyframes dreamyMotion {
  0% {
    transform: skewX(0deg) rotate(0deg) scale(1);
    filter: blur(4px) brightness(0.95);
  }
  50% {
    transform: skewX(-2deg) rotate(4deg) scale(1.43);
    filter: blur(40px) brightness(1.35);
  }
  100% {
    transform: skewX(0deg) rotate(0deg) scale(1);
    filter: blur(4px) brightness(0.95);
  }
}

/* Mobile styles */
@media (max-width: 850px) {
  html,
  body {
    height: 100%;
    width: 100%;
  }

  body::before {
    animation: dreamyMotion 30s ease-in-out infinite;
    filter: blur(10px) brightness(1.1);
  }

  h1 {
    font-size: 1.4rem;
    color: var(--color-h1);
    text-shadow: 0 0 1rem var(--color-accent-alt);
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  p {
    font-size: 1rem;
    padding: 1rem;
  }

  a {
    font-size: 1rem;
    padding: 0;
  }

  label {
    font-size: 1rem;
  }

  ul {
    font-size: 1.25rem;
    margin: 0.5rem;
  }

  li {
    font-size: 1rem;
  }

  span {
    font-size: 1.25rem;
  }
}
