header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  gap: 0.75rem;
}

#headerTopRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#logoImg {
  height: 3rem;
  width: auto;
  flex-shrink: 0;
}

#callIcon {
  height: 3rem;
  width: auto;
  flex-shrink: 0;
}

#callButton {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

header h1 {
  text-align: center;
  flex: 1 1 auto;
  margin: 0;
  font-weight: 900;
  color: var(--color-h1);
}

#menuButton {
  display: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 2rem;
  color:var(--color-h1);
}

/* Mobile styles */
@media (max-width: 850px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70rem;
    padding: 0.5rem;
    margin: 0 auto;
    gap: 0.5rem;
  }

  #headerTopRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #logoImg {
    height: 2.5rem;
    width: auto;
    flex-shrink: 0;
  }

  #callIcon {
    height: 2.5rem;
    width: auto;
    flex-shrink: 0;
  }

  #callButton {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  header h1 {
    text-align: center;
    flex: 1 1 auto;
    margin: 0;
    font-weight: 900;
    font-size: 1.4rem;
    color: var(--color-h1);
    text-shadow: 0 0 1rem var(--color-accent-alt);
  }

  #menuButton {
    display: flex;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 2rem;
  }
}
