main {
  background-color: var(--color-section);
  max-width: 70rem;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

section {
  display: none;
  box-sizing: border-box;
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem;
  opacity: 0;
  transition: opacity 1.5s ease;
}

section.visible {
  display: block;
  opacity: 1;
}

#section-fade-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-section);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  z-index: 10;
}

/* Mobile styles */
@media (max-width: 850px) {
  main {
    padding: 0;
  }

  section {
    padding: 0;
  }
}
