.Banner {
  width: 100%;
  max-width: 400px;
  max-height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--panel-bg);
}

.Banner img {
  width: 100%;
  height: 100%;
  display: block;
}
