#GraphsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;

}

.graphContainer {
  position: relative;
  width: 600px;
  height: 650px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; 
}

.graphContainer h2 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.graph {
  width: 100%;
  height: 100%;
}

.LoadingScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}



@media (max-width: 768px) {
  .graphContainer {
    width: 300px;
    height: 330px;
  }

  .graph {
    height: 300px;
  }
}
